<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @tipo_cultivo.nombre %>
</p>

<%= link_to 'Edit', edit_tipo_cultivo_path(@tipo_cultivo) %> |
<%= link_to 'Back', tipo_cultivos_path %>
